body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
.userp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
#profile-picture{
    width: 100px;
    aspect-ratio: 1/1;
    border: 3px solid rgba(0, 255, 255, 0.356);
    padding: 4px;
    border-radius: 50%;
}
